<div class="row">
 
    <div class="col-12 col-md-4 offset-md-2">
      <div class="card">
        <div class="card-header font-weight-bold">
          Teste 1
        </div>
        <div class="card-body">
          <blockquote class=" mb-0">
            <ul>
              <li>
                <a style="cursor: pointer;" (click)="appController.navigate('pessoa')">teste2</a>
              </li>
              <li>
                <a style="cursor: pointer;" (click)="appController.navigate('certificado')">teste3</a>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-4 mt-4 mt-md-0">
      <div class="card">
        <div class="card-header font-weight-bold">
          Teste4
        </div>
        <div class="card-body">
          <blockquote class=" mb-0">
            <ul>
              <li>
                <a style="cursor: pointer;" (click)="appController.navigate('aplicacao')">teste5</a>
              </li>
              <li>
                <a style="cursor: pointer;" (click)="appController.navigate('funcionalidade')">teste6</a>
              </li>
              <li>
                <a style="cursor: pointer;" (click)="appController.navigate('papel')">teste7</a>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-0 col-md-2"></div>
  </div>